.app__header .app__header-section-left-side {
  background: url(../images/bg-main-desktop.png) no-repeat;
  width: 483px;
  height: 900px;
}
@media screen and (max-width: 35em) {
  .app__header .app__header-section-left-side {
    background-image: url(../images/bg-main-mobile.png);
  }
}
.app__header .app__header-section-left-side .app__header-section-left-side-top-card {
  width: 484px;
  height: 244px;
  margin: 187px 0 0 164px;
}
@media screen and (max-width: 35em) {
  .app__header .app__header-section-left-side .app__header-section-left-side-top-card {
    width: 287px;
    height: 157px;
    margin: 127px 0 0 15px;
  }
}
.app__header .app__header-section-left-side .app__header-section-left-side-top-card .bg-card img {
  display: block;
}
.app__header .app__header-section-left-side .app__header-section-left-side-top-card .card-image {
  margin: -215px 0 0 33px;
}
@media screen and (max-width: 35em) {
  .app__header .app__header-section-left-side .app__header-section-left-side-top-card .card-image {
    width: 60px;
    margin: -140px 0 0 26px;
  }
}
.app__header .app__header-section-left-side .app__header-section-left-side-top-card .card-details .cardnumber {
  font-size: 29px;
  line-height: 37px;
  letter-spacing: 0.1em;
  padding: 64px 0 0 32px;
}
@media screen and (max-width: 35em) {
  .app__header .app__header-section-left-side .app__header-section-left-side-top-card .card-details .cardnumber {
    font-size: 18px;
    margin: -40px 0 0 -4px;
  }
}
.app__header .app__header-section-left-side .app__header-section-left-side-top-card .card-details .name {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.14em;
  margin: 25px 0 0 32px;
}
@media screen and (max-width: 35em) {
  .app__header .app__header-section-left-side .app__header-section-left-side-top-card .card-details .name {
    font-size: 12px;
    margin: 15px 0 0 27px;
  }
}
.app__header .app__header-section-left-side .app__header-section-left-side-top-card .card-details .date {
  margin: -18px 0 0 364px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.14em;
}
@media screen and (max-width: 35em) {
  .app__header .app__header-section-left-side .app__header-section-left-side-top-card .card-details .date {
    font-size: 13px;
    margin: -18px 0 0 220px;
  }
}
.app__header .app__header-section-left-side .app__header-section-left-side-bottom-card {
  width: 484px;
  height: 244px;
  margin: 38px 0 0 260px;
}
@media screen and (max-width: 35em) {
  .app__header .app__header-section-left-side .app__header-section-left-side-bottom-card {
    width: 287px;
    height: 157px;
    margin: -246px 15px 0 auto;
  }
}
.app__header .app__header-section-left-side .app__header-section-left-side-bottom-card .card-details p {
  margin: -135px 0 0 358px;
  font-size: 16px;
  color: var(--clr-LGV);
  letter-spacing: 0.08em;
}
@media screen and (max-width: 35em) {
  .app__header .app__header-section-left-side .app__header-section-left-side-bottom-card .card-details p {
    margin: -90px 0 0 223px;
    font-size: 14px;
  }
}
.app__header .app__header-section-right-side {
  margin: 298px 226px 0 auto;
}
@media screen and (max-width: 35em) {
  .app__header .app__header-section-right-side {
    margin: 310px 0 0 -351px;
  }
}
.app__header .app__header-section-right-side form label {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.17em;
  color: var(--clr-VDV);
  margin-bottom: 8px;
}
@media screen and (max-width: 35em) {
  .app__header .app__header-section-right-side form label {
    letter-spacing: 0.16em;
  }
}
.app__header .app__header-section-right-side form input {
  border: 1px solid var(--clr-DGV);
  border-radius: 10px;
  width: 382px;
  height: 46px;
  color: var(--clr-DGV);
  margin-bottom: 26px;
  padding-left: 16px;
}
@media screen and (max-width: 35em) {
  .app__header .app__header-section-right-side form input {
    width: 326px;
  }
}
.app__header .app__header-section-right-side form input:focus {
  outline-color: var(--clr-LG);
}
.app__header .app__header-section-right-side form .CardHolderName p.error-cardname {
  margin: -25px 0 10px 10px;
  color: var(--clr-Red);
  font-size: 14px;
}
.app__header .app__header-section-right-side form .CardNumber p.error-cardnumber {
  margin: -25px 0 10px 10px;
  color: var(--clr-Red);
  font-size: 14px;
}
.app__header .app__header-section-right-side form .CardDate input {
  width: 81px;
  height: 45px;
}
@media screen and (max-width: 35em) {
  .app__header .app__header-section-right-side form .CardDate input {
    width: 71px;
  }
}
.app__header .app__header-section-right-side form .CardDate input:last-of-type {
  margin: -71px 0 0 89px;
}
@media screen and (max-width: 35em) {
  .app__header .app__header-section-right-side form .CardDate input:last-of-type {
    margin: -71px 0 0 80px;
  }
}
.app__header .app__header-section-right-side form .CardDate p.error-carddate {
  margin-left: 10px;
  color: var(--clr-Red);
  font-size: 14px;
}
.app__header .app__header-section-right-side form .CardCVC label {
  margin: -68px 0 0 188px;
}
@media screen and (max-width: 35em) {
  .app__header .app__header-section-right-side form .CardCVC label {
    margin: -68px 0 0 166px;
  }
}
.app__header .app__header-section-right-side form .CardCVC input {
  margin: 7px 0 0 189px;
  width: 191px;
}
@media screen and (max-width: 35em) {
  .app__header .app__header-section-right-side form .CardCVC input {
    width: 164px;
    margin: 9px 0 0 162px;
  }
}
.app__header .app__header-section-right-side form .CardCVC p.error-cardCVC {
  margin: 0 0 0 195px;
  font-size: 14px;
  color: var(--clr-Red);
}
@media screen and (max-width: 35em) {
  .app__header .app__header-section-right-side form .CardCVC p.error-cardCVC {
    margin: 0 0 0 170px;
  }
}
.app__header .app__header-section-right-side form button {
  margin: 39px 0 0 0;
  width: 382px;
  border-radius: 6px;
  height: 53px;
  background-color: var(--clr-VDV);
}
@media screen and (max-width: 35em) {
  .app__header .app__header-section-right-side form button {
    width: 326px;
    margin: 28px 24px 0 0px;
  }
}
.app__header .app__header-section-right-side-Thank {
  margin: 305px 0 0 349px;
}
@media screen and (max-width: 35em) {
  .app__header .app__header-section-right-side-Thank {
    margin: 357px 0 0 0;
  }
}
.app__header .app__header-section-right-side-Thank .img {
  margin: 0 0 0 152px;
}
@media screen and (max-width: 35em) {
  .app__header .app__header-section-right-side-Thank .img {
    margin: 0px 0 0 -225px;
  }
}
@media screen and (max-width: 35em) {
  .app__header .app__header-section-right-side-Thank .thank {
    margin: 0px 0 0 -355px;
  }
}
.app__header .app__header-section-right-side-Thank .thank h1 {
  margin: 37px 0 0 95px;
  font-weight: 500;
  font-size: 27px;
  line-height: 34px;
  letter-spacing: 0.15em;
  color: var(--clr-VDV);
}
@media screen and (max-width: 35em) {
  .app__header .app__header-section-right-side-Thank .thank h1 {
    margin: 37px 0 0 70px;
  }
}
.app__header .app__header-section-right-side-Thank .thank p {
  margin: 16px 0 0 59px;
  color: var(--clr-VDV);
}
@media screen and (max-width: 35em) {
  .app__header .app__header-section-right-side-Thank .thank p {
    margin: 16px 0 0 40px;
  }
}
.app__header .app__header-section-right-side-Thank .thank button {
  margin: 48px 0 0 0px;
  width: 382px;
  height: 53px;
  background-color: var(--clr-VDV);
  border-radius: 6px;
}
@media screen and (max-width: 35em) {
  .app__header .app__header-section-right-side-Thank .thank button {
    margin: 48px 0 0 0;
    width: 326px;
  }
}

.hidden {
  display: none;
}